
#homepage-container {
	position: relative;
	overflow-y: scroll;
	width: 100%;
	z-index: 1;
	/* background-color: var(--color1-0); */
}

	.scene-container {
		height: 140vh;
		width: 100%;
		clip-path: polygon(0 -12vw, 50% 0, 100% -12vw, 100% calc( 100% - 12vw ), 50% 100%, 0 calc( 100% - 12vw ));
		/* clip-path: polygon(0 -12vw, 50% 0, 100% -12vw, 100% calc( 100% - 12vw - 4px ), 50% calc( 100% - 4px ), 0 calc( 100% - 12vw - 4px )); */
		border-style: solid;
	}

		.scene-fixed-container {
			position: fixed;
			height: 100vh;
			width: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			filter: grayscale( 0% );
			transition: filter 0.4s;
		}

		.scene-fixed-container.blurry {
			filter: grayscale( 100% );
		}
		
		/* TEXTUAL UI */

			.textual-ui {
				position: fixed;
				opacity: 1;
				transition: opacity 1s;
			}

				.scene-fixed-container.blurry .textual-ui {
					opacity: 0;
				}

				.textual-ui .link {
					user-select: none;
				}

				@media(hover: hover) and (pointer: fine) {
					.textual-ui .link:hover {
						cursor: pointer;
						text-decoration: underline;
					}
				}

			.service-ui {
				right: 8vw;
				bottom: calc( 8vw + 30px );
				max-width: 30vw;
				min-width: 200px;
			}

				.service-ui > * {
					margin: calc( 7px + 0.5vw ) 0;
				}

				.service-ui > p {
					font-size: calc( 11px + 1vmin );
					font-weight: 700;
				}

				.service-ui > div {
					font-size: calc( 13px + 1.8vmin );
				}

				.service-ui > h2 {
					font-size: calc( 15px + 2vmin );
				}

			#intro-textual-ui {
				top: 70%;
				left: 50%;
				padding: 15px 25px;
				transform: translateX(-50%);
				font-size: calc( 10px + 3vmin );
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--color1-0);
				border: var(--generic-border);
				white-space: nowrap;
			}

				#intro-textual-ui i {
					font-size: calc( 20px + 4vmin );
					position: absolute;
					top: 100%;
					animation: swing_homepage_carret 2s linear infinite;
				}

				@keyframes swing_homepage_carret {
					from {
						transform: translateY( 0 );
					}
					50% {
						transform: translateY( 50% );
					}
					to {
						transform: translateY( 0 );
					}
				}

			#contact-textual-ui {
				bottom: calc( 10vw + 30px );
				left: 50%;
				padding: 15px 25px;
				transform: translateX(-50%);
			}

