
:root {
	--scene-container-height: calc( 100vh + 12vw );
	--containers-line-width: 1px;
}

#dummy-container {
	position: absolute;
	left: 150vw;
	height: var( --scene-container-height );
}

#homepage-container {
	position: relative;
	overflow-y: scroll;
	width: 100%;
	z-index: 1;
	background-color: var(--color1-0);
}

	.scene-container {
		height: var( --scene-container-height );
		width: 100%;
		clip-path: polygon(0 -12vw, 50% 0, 100% -12vw, 100% calc( 100vh - var( --containers-line-width ) ), 50% calc( 100vh + 12vw - var( --containers-line-width ) ), 0 calc( 100vh - var( --containers-line-width ) ));
		-webkit-clip-path: polygon(0 -12vw, 50% 0, 100% -12vw, 100% calc( 100vh - var( --containers-line-width ) ), 50% calc( 100vh + 12vw - var( --containers-line-width ) ), 0 calc( 100vh - var( --containers-line-width ) ));
		border-style: solid;
		pointer-events: none;
	}

		.scene-container.clickable {
			pointer-events: auto;
		}

		.scene-fixed-container {
			position: fixed;
			height: 100vh;
			width: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			filter: grayscale( 0% );
			transition: filter 0.4s;
		}

			.scene-fixed-container.blurry {
				filter: grayscale( 100% );
			}

			.homepage-arrow-container {
				position: fixed;
				bottom: 0px;
				left: 50%;
				animation: swing_homepage_carret 2s linear infinite;
				transition: opacity 0.7s linear;
				z-index: 2;
				padding: 15px 20px;
				border-radius: 30px;
				font-size: 1.1em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: var( --color1-0 );
			}

				.homepage-arrow-container>i {
					font-size: calc( 17px + 2.6vmin );
				}

				.homepage-arrow-container:hover {
					cursor: pointer;
				}

				.homepage-arrow-container.first {
					bottom: 35px;
				}

				@keyframes swing_homepage_carret {
					from {
						transform: translate( -50%, 0 );
					}
					50% {
						transform: translate( -50%, -35% );
					}
					to {
						transform: translate( -50%, 0 );
					}
				}
		
		/* TEXTUAL UI */

			.textual-ui {
				position: fixed;
				opacity: 1;
				transition: opacity 1s;
			}

				.scene-fixed-container.blurry .textual-ui {
					opacity: 0;
				}

				.scene-fixed-container.blurry i {
					opacity: 0;
				}

				.textual-ui .link {
					user-select: none;
				}

				@media(hover: hover) and (pointer: fine) {
					.textual-ui .link:hover {
						cursor: pointer;
						background-color: var(--color1-1);
					}
				}

			.service-ui {
				right: 8vw;
				bottom: calc( 8vw + 30px );
				max-width: 30vw;
				min-width: 200px;
			}

				.service-ui > * {
					margin: calc( 7px + 0.5vw ) 0;
				}

				.service-ui > p {
					font-size: calc( 11px + 1vmin );
					font-weight: 700;
				}

				.service-ui > div {
					display: inline-block;
					font-size: calc( 11px + 1.15vmin );
					padding: 7px 20px;
					border-radius: 500px;
					color:  var(--color1-5);
					background-color: var(--color1-0);
				}

				.service-ui > h2 {
					font-size: calc( 15px + 2vmin );
				}

			#intro-textual-ui {
				top: 70%;
				left: 50%;
				padding: 5px 0;
				transform: translateX(-50%);
				font-size: calc( 11px + 3vmin );
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--color1-0);
				/* border-bottom: var(--generic-border); */
				white-space: nowrap;
			}

			#contact-textual-ui {
				bottom: calc( 10vw + 30px );
				left: 50%;
				padding: 15px 25px;
				transform: translateX(-50%);
				white-space: nowrap;
				display: flex;
				flex-direction: column;
			}

				#contact-textual-ui .link {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

