
#homepage-container {
	position: relative;
	overflow-y: scroll;
	width: 100%;
	z-index: 1;
}

	.scene-container {
		height: 140vh;
		width: 100%;
		clip-path: polygon(0 -12vw, 50% 0, 100% -12vw, 100% calc( 100% - 12vw ), 50% 100%, 0 calc( 100% - 12vw ));
		border-style: solid;
	}

		.scene-fixed-container {
			position: fixed;
			height: 100vh;
			width: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			filter: grayscale( 0% );
			transition: filter 0.4s;
		}

		.scene-fixed-container.blurry {
			filter: grayscale( 100% );
		}
		
		/* TEXTUAL UI */

			.textual-ui {
				position: fixed;
				opacity: 1;
				transition: opacity 1s;
			}

				.scene-fixed-container.blurry .textual-ui {
					opacity: 0;
				}

			.service-ui {
				right: 10%;
				top: 62%;
				padding: 25px;
				border: var(--generic-border);
			}

			#intro-textual-ui {
				top: 70%;
				left: 50%;
				padding: 15px 25px;
				transform: translateX(-50%);
				font-size: calc( 10px + 3vmin );
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--color1-0);
				border: var(--generic-border);
				white-space: nowrap;
			}

			#contact-textual-ui {
				background-color: grey;
			}

