
#homepage-container {
	height: 100%;
	width: 100%;
	background-color: purple;
}

	.scene-container {
		height: 120%;
		width: 100%;
		clip-path: polygon(0 -12vw, 50% 0, 100% -12vw, 100% calc( 100% - 12vw ), 50% 100%, 0 calc( 100% - 12vw ));
		border-style: solid;
	}

		.scene-fixed-container {
			position: fixed;
			top: 0;
			left: 0;
			overflow: hidden;
		}

		
		/* TEXTUAL UI */

		#intro-textual-ui {
			position: fixed;
			height: 50px;
			width: 500px;
			top: 70%;
			left: 50%;
			transform: translateX(-50%);
			background-color: grey;
			font-size: 2em;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		#expertise-textual-ui {
			position: fixed;
			height: 200px;
			width: 350px;
			bottom: 50px;
			right: 50px;
			background-color: grey;
		}

