
#menu {
	position: fixed;
	background-color: rgba( 255, 255, 255, 0.5 );
	animation-duration: 0.3s;
  	animation-fill-mode: forwards;
  	animation-timing-function: linear;
  	border-radius: 0 0 100% 0;
  	height: 0%;
	width: 0%;
  	overflow: hidden;
}

	#menu.anim-open-menu {
		animation-name: anim_open_menu;
	}

	#menu.anim-close-menu {
		animation-name: anim_close_menu;
	}

	/* CONTENT */

	#menu-content {
		position: relative;
		min-height: calc( 100vh - 60px );
		min-width: 100vw;
		height: 100%;
		width: 100%;
		transform: translateX( 0 );
		transition: all 0.7s;
		padding: 15vh 0;
		box-sizing: border-box;
		opacity: 1;
	}

		#menu.anim-open-menu #menu-content {
			padding: var(--menu-padding);
			opacity: 1;
		}

		/* // */

		#links-container {
			height: 100%;
			background-color: purple;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

	/* ANIMATION */

	@keyframes anim_open_menu {
		from {
			opacity: 0;
			height: 0%;
			width: 0%;
			border-radius: 0 0 100% 0;
		}
		50% {
			height: 100%;
			width: 100%;
			opacity: 1;
			border-radius: 0 0 100% 0;
		}
		to {
			height: 100%;
			width: 100%;
			border-radius: 0;
		}
	}

	@keyframes anim_close_menu {
		from {
			height: 100%;
			width: 100%;
			border-radius: 0;
		}
		50% {
			height: 100%;
			width: 100%;
			opacity: 1;
			border-radius: 0 0 100% 0;
		}
		to {
			height: 0%;
			width: 0%;
			opacity: 0;
			border-radius: 0 0 100% 0;
		}
	}