
:root {
	--navbar-mask-height: 80px;
}

#module-container {
	position: fixed;
	background: radial-gradient(ellipse at 25% 25%, #ffffff 0%, #edeff2 62%, #b8c0cc 100%);
	height: 100%;
	width: 100vw;
	top: 0px;
	padding-top: var( --navbar-mask-height );
	box-sizing: border-box;
	transform: translateX( 100% );
	transition: transform 0.6s;
	z-index: 5000;
	overflow-y: auto;
}

	#page-container.module-mode #module-container {
		transform: translateX( 0 );
	}

	.info-module {
		height: 100%;
		width: 100%;
		overflow-y: auto;
		padding: var( --menu-padding );
		padding-top: calc( ( ( var(--menu-button-radius) * 2 ) + 15vh ) - var( --navbar-mask-height ) );;
		box-sizing: border-box;
	}

	.info-module > * + * {
		margin-top: 20px;
	}

	.info-module p {
		font-size: calc( 11px + 1vmin );
	}

	.info-module a {
		display: block;
		color: var( --color1-0 );
		font-size: calc( 11px + 1vmin );
		display: flex;
		align-items: center;
		text-decoration: none;
	}

		.info-module a > * {
			margin-right: 10px;
		}

		.info-module a > i {
			font-size: 30px;
		}

	.info-module h2 {
		font-size: calc( 15px + 2vmin );
	}

	.info-module h3 {
		font-size: calc( 13px + 1.2vmin );
	}

	/* */

	#samples-container {
		position: relative;
	}

		#samples-container > * + * {
			margin-top: 20px;
		}

		.sample-container {
			position: relative;
			background-color: white;
			overflow: hidden;
			border-radius: 20px;
			border-color: var( --color1-0 );
			border-style: solid;
			border-width: 4px;
			width: 100%;
			max-width: 65vh;
			height: 30vh;
			cursor: pointer;
			transition: all 0.2s linear;
			box-sizing: border-box;
		}

			.sample-container:hover {
				border-color: var( --color1-2 );
			}

			.sample-container>img {
				height: 80%;
				width: 100%;
				object-fit: cover;
			}

			.sample-container>div {
				height: 20%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: calc( 11px + 1vmin );
			}

		