
:root {
	--menu-button-radius: 25px;
}

#menu-button {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: blue;
	height: calc( var(--menu-button-radius) * 2 );
	width: calc( var(--menu-button-radius) * 2 );
	border-radius: var(--menu-button-radius)
}