
#menu-button {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 19px;
	color: var(--color1-5);
	background-color: var(--color1-0);
	height: calc( var(--menu-button-radius) * 2 );
	width: calc( var(--menu-button-radius) * 2 );
	border-radius: var(--menu-button-radius);
	animation-duration: 0.3s;
  	animation-fill-mode: forwards;
  	animation-timing-function: linear;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	z-index: 10000;
  	transition: background-color 0.15s;
}

	#menu-button.animate-menu-icon {
		animation-name: animate_menu_icon;
	}

	/* ANIMATION */

	@keyframes animate_menu_icon {
		from { font-size: 19px; }
		50%  { font-size: 1px; }
		to   { font-size: 19px; }
	}

	/* MEDIA QUERIES */

	@media(hover: hover) and (pointer: fine) {
		#menu-button:hover {
			background-color: var(--color1-1);
			cursor: pointer;
		}
	}