

:root {

	--menu-button-radius: 24px;
	--menu-padding: calc( ( var(--menu-button-radius) * 2 ) + 15vh ) 11vw 15vh 11vw;
	--generic-border: 3px solid var(--color1-0);

	/* COLORS */

	--color1-0: #010b24;
	--color1-1: #072670;
	--color1-2: #2352c4;
	--color1-3: #6f8ed9;
	--color1-4: #bdccf0;
	--color1-5: #f5f8ff;

}

@font-face {
	font-family: champagne;
	src: url(https://cad-portfolio.s3.eu-west-3.amazonaws.com/fonts/Champagne.ttf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-tap-highlight-color: transparent;
	overscroll-behavior: none;
	font-family: 'Mulish', sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
}

/* LOGO */

#logo-container {
	position: fixed;
	top: 20px;
	left: calc( 40px + calc( var(--menu-button-radius) * 2 ) );
	height: calc( var(--menu-button-radius) * 2 );
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc( 20px + 3vmin );
}

	#logo {
		/* font-family: 'champagne', sans-serif; */
		font-family: 'Arvo', serif;
		font-size: 0.9em;
	}

/* PAGE CONTAINER */

#page-container {
	position: relative;
	height: 100%;
	width: 100%;
}

	#page-container.hide-overflow {
		overflow-y: hidden;
	}